@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Sedgwick+Ave&display=swap");

/* Main Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Mulish, sans serif;
  font-size: 1.4rem;
}
.main-container {
  width: 100vw;
  position: relative;
}
.flex {
  display: flex;
}
.link {
  text-decoration: none;
  color: rgb(208, 215, 221);
}
.link:hover {
  color: rgb(212, 168, 86);
}

/* Navbar and Landing Page */
.navbar {
  height: 10vh;
  width: 100%;
  background: rgba(68, 68, 68, 0.4);
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  z-index: 1;
}
.title {
  text-align: center;
  color: rgb(208, 215, 221);
}
.menu {
  list-style: none;
}
header {
  height: 100vh;
  width: 100%;
  background: url(/images/gradient.jpg) no-repeat center center/cover;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 0;
}
.header-text {
  background: rgba(68, 68, 68, 0.4);
  padding: 1rem;
  color: rgb(208, 215, 221);
  text-align: center;
  width: 80vw;
  border-radius: 10px;
}
