@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Sedgwick+Ave&display=swap");

:root {
  --h-font: Sedgwick Ave, sans serif;
  --color-pop: rgba(166, 253, 246, 0.979);
}

/* Main Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  font-size: 1.2rem;
  line-height: 1.4;
}
.main-container {
  width: 100vw;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.text-align {
  text-align: center;
}
.large-font {
  font-size: 2rem;
}
h1,
h2,
h3 {
  font-family: var(--h-font);
}

/* Navigation and About Me Styling */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 20vh;
  background: #f4f4f4;
}
.title {
  font-size: 3rem;
}
.menu {
  display: flex;
  list-style: none;
}
ul.menu li {
  margin: 0 2rem;
  border-radius: 50%;
}
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 4rem; */
  justify-content: space-around;
  height: 80vh;
  width: 70%;
  margin: auto;
}
.monkey-img {
  border-radius: 50%;
}

/* Project section styling */
.projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.card {
  height: 30vh;
  width: 20vw;
  margin: 0 1rem;
  background: #f4f4f4;
}

/* Contact section styling */
.contact {
  height: 100vh;
}
